#가상환경
.vscode
.venv
#환경변수
.env
#파이썬
*.splite3
*.db
*.__pycache__

# 디렉토리 무시
.ipynb_checkpoints/
**/.ipynb_checkpoints/

data/

extracted_files/

*.zip

*.txt
C:/python_src2/딥러닝/cifar-10-batches-py
C:/python_src2/딥러닝/cifar-10-python.tar.gz
딥러닝/cifar-10-batches-py/batches.meta
딥러닝/cifar-10-batches-py/data_batch_1
딥러닝/cifar-10-batches-py/data_batch_2
딥러닝/cifar-10-batches-py/data_batch_3
딥러닝/cifar-10-batches-py/data_batch_4
딥러닝/cifar-10-batches-py/data_batch_5
딥러닝/cifar-10-batches-py/readme.html
딥러닝/cifar-10-batches-py/test_batch
딥러닝/cifar-10-python.tar.gz
